﻿<h3>About</h3>

<div class="page-content">
    <p>
        Deerpark Engineering was established in 2011 to meet industry requirements for smoother and less complex project implementation. Deerpark Engineering is able to offer the full range of installation, cabling and project management capabilities, from minor works right through to larger projects.
        We have successfully managed a whole range of projects, and can take a job from concept through design, installation and testing to completion.
    </p>

    <p>
        By taking a multi-disciplined approach to systems design, we are best placed to facilitate every aspect of an installation.
        All of our installation work is installed to the highest standard and we can work to any particular specifications which may be required.
        All of our workforce are fully qualified and hold CSR cards, water hygiene cards, EUSR cards have had confined space training and are trained in first aid at work.
    </p>

    <p>
        We have extensive experience in working with not only the water utility on any given project, but also with multiple control equipment vendors, contractors and consultants.
        We can bring our project management services to you on an interim, short-term or long-term basis, with our focus on delivering on your requirements in every department of the project to help ensure repeat business.
    </p>

    <p>
        Our services encompass:
    </p>

    <ul class="default-list">
        <li>Project management</li>
        <li>Delivery services</li>
        <li>Electrical installation and cabling</li>
        <li>Instrumentation</li>
        <li>Commissioning and testing</li>
    </ul>

    <p>
        Our specialist project management personnel will work with you to see a project through.
    </p>
</div>
