﻿@model Deerpark.Models.GetInTouch

<div id="location" class="row">
    <h3>Where We Are</h3>
    <div id="map-canvas"></div>
</div>

<div id="email" class="row">
    <div class="section group">
        <div class="col col_1">

            <h3>Contact Us</h3>

            @if (!string.IsNullOrEmpty((string)ViewBag.Message))
            {
                var cssClass = (bool)ViewBag.Success ? "success" : "error";

                <div class="notification @cssClass">
                    <p>@ViewBag.Message</p>
                </div>
            }

            @using (Html.BeginForm("GetInTouch", "Home"))
            {
                @Html.AntiForgeryToken()

                <div class="field-group">
                    <label for="SenderName">Contact Name</label>

                    @Html.TextBoxFor(x => x.SenderName, new { placeholder = "Contact Name" })
                    @Html.ValidationMessageFor(x => x.SenderName)

                </div>

                <div class="field-group">
                    <label for="SenderEmail">Your email address</label>

                    @Html.TextBoxFor(x => x.SenderEmail, new { placeholder = "Email Address" })
                    @Html.ValidationMessageFor(x => x.SenderEmail)

                </div>

                <div class="field-group">
                    <label for="Subject">Reference</label>
                    @Html.TextBoxFor(x => x.Subject, new { placeholder = "Subject" })
                    @Html.ValidationMessageFor(x => x.Subject)
                </div>

                <div class="field-group">
                    <label for="Content">Message</label>
                    @Html.TextAreaFor(x => x.Content, new { placeholder = "Message" })
                    @Html.ValidationMessageFor(x => x.Content)
                </div>
                <div class="field-group">
                    <input class="button submit-btn" type="submit" value="Send Message">
                </div>
            }
        </div>
        <div class="col col_1">
            <div id="contact-details">
                <div class="heading-text">
                    <p>
                        Please feel free to contact us using the form on the left.
                        Alternatively you can find us using the information below.
                    </p>
                </div>
                
                <div class="contact-details">
                    <p><i class="contact-icon fa fa-location-arrow"></i>47 Deerpark Road, Glenarm, Ballymena BT44 0DW</p>
                    <p><i class="contact-icon fa fa-phone"></i>02828841864</p>
                    <p><i class="contact-icon fa fa-envelope-o"></i><a href="mailto:info@deerparkengineering.com">info@deerparkengineering.com</a></p>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDvR-EHhzY2QHR9yTkfHc3J68uPPRJnkmw"></script>
    <script src="~/Scripts/deerpark.map.js"></script>
}