﻿<div id="slider" class="barousel">
    <div class="barousel_image">
        <img src="~/Content/Images/Deerpark-Windmill.jpg" alt="Wind Turbine Installed at Glens of Antrim" title="Endurance E3120 Wind Turbine" class="default" />
        <img src="~/Content/Images/Deerpak-Control-Panel.jpg" alt="MCC installed for the control of screening equipment" title="Downpatrick WWTW" />
        <img src="~/Content/Images/Deerpark-Pumping-Screening.jpg" alt="Pumping station" title="Cairnryan Link Span Scotland Pumping Station" />
        <img src="~/Content/Images/Deerpark-Electrical-Installation.jpg" alt="Multi-core installation to wind turbines" title="Molly Mountain Wind Farm" />
    </div>
    <div class="barousel_content">
        <div class="default">
            <h3>Endurance E3120 Wind Turbine</h3>
            <p>
                A single wind turbine installed in the Glens of Antrim.
            </p>
        </div>
        <div>
            <h3>Downpatrick WWTW</h3>
            <p>
                MCC installed for the control of new screening equipment.
            </p>
        </div>
        <div>
            <h3>Cairnryan Link Span Scotland</h3>
            <p>
                Pumping Station to control the level of the Link Span.
            </p>
        </div>
        <div>
            <h3>Molly Mountain Wind Farm</h3>
            <p>
                Multi-core installation to wind turbines.
            </p>
        </div>
    </div>
    <div class="barousel_nav">
    </div>
</div>

<div id="service-boxes">
    <div class="box">
        <div class="title">Control Panels</div>
        <div class="service-img">
            <a href="@Url.Action("ControlPanels", "Services")" title="Find out more">
                <img src="~/Content/Images/Service-Boxes/Service-Control-Panel.jpg" alt="Control Panel Installations" title="Control Panels" />
            </a>
        </div>
    </div>
    <div class="box">
        <div class="title">Electrical Installation & Testing</div>
        <div class="service-img">
            <a href="@Url.Action("ElectricalInstallation", "Services")" title="Find out more">
                <img src="~/Content/Images/Service-Boxes/Service-Electrical-Installation.jpg" alt="Electrical Installation" title="Electrical Installation" />
            </a>
        </div>
    </div>
    <div class="box">
        <div class="title">Wind</div>
        <div class="service-img">
            <a href="@Url.Action("Wind", "Services")" title="Find out more">
                <img src="~/Content/Images/Service-Boxes/Service-Wind.jpg" alt="Wind Services and Installation" title="Wind" />
            </a>
        </div>
    </div>
    <div class="box">
        <div class="title">Mechanical Services</div>
        <div class="service-img">
            <a href="@Url.Action("MechanicalServices", "Services")" title="Find out more">
                <img src="~/Content/Images/Service-Boxes/Service-Mechanical-Services.jpg" alt="Mechanical Services" title="Mechanical Services" />
            </a>
        </div>
    </div>
    <div class="box">
        <div class="title">Pumping & Screening</div>
        <div class="service-img">
            <a href="@Url.Action("PumpingAndScreening", "Services")" title="Find out more">
                <img src="~/Content/Images/Service-Boxes/Service-Pumping-Screening.jpg" alt="Pumping and Screening Installation" title="Pumping and Screening" />
            </a>
        </div>
    </div>
    <div class="box">
        <div class="title">Corporate and Social Responsibility</div>
        <div class="service-img">
            <a href="@Url.Action("SocialAndCorporate", "Home")" title="Find out more">
                <img src="~/Content/Images/Service-Boxes/Social-And-Corporate.jpg" alt="Sustainable Corporate and Social Responsibility" title="Sustainable Corporate and Social Responsibility" />
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.barousel.min.js"></script>
    <script src="~/Scripts/index.js"></script>
}

