﻿<h3>Sustainable Corporate and Social Responsibility</h3>

<div class="page-content">
    <p>In Deerpark Engineering, we recognise Sustainable Development as an integral part of our core organisational strategy. For us, this concept translates into a genuine commitment to meet the needs of society while operating within the limits of environment. Sustainable Development in Deerpark Engineering targets long term growth and profit from a position of social co-operation and value creation. We embrace the broad expectations of society as a whole.</p>
    <p>We are committed to operating in an ethical and socially responsible manner which contributes to Sustainable Development. This standard applies to all divisions within our Company.</p>
    <p>Deerpark Engineering is committed to supporting the vision for Corporate Social responsibility by:</p>

    <ul class='default-list'>
        <li>Dealing openly and honestly with clients and suppliers</li>
        <li>Commitment to the well-being and training of employees and working in a safe environment</li>
        <li>Supporting the local community</li>
        <li>Reducing our effect on the environment.</li>
    </ul>

    <p>We will ensure that we deal responsibly, openly and fairly with our clients and potential clients by:</p>

    <ul class='default-list'>
        <li>Being open and honest about our services</li>
        <li>Acknowledging problems and dealing with them</li>
        <li>Benchmarking and evaluating what we do in order to constantly improve our performance</li>
    </ul>

    <p>We will deal responsibly, openly and fairly with suppliers and ensure that we use local suppliers wherever practicable.</p>
    <p>We are committed to the wellbeing and training of our staff and to providing them with a safe working environment.</p>
    <p>We support the local community by:</p>

    <ul class='default-list'>
        <li>Sponsoring local community groups such as Youth Clubs and the local Athletic Running Club of which a few of the workforce are members</li>
        <li>We help local community by volunteering our time to local projects</li>
    </ul>

    <p>We are committed to reducing our effect on the environment by:</p>

    <ul class='default-list'>
        <li>Monitoring and aiming to reduce energy, water and paper and cardboard usage</li>
        <li>Maximising reuse and recycling of materials</li>
        <li>Managing and disposal of all waste in a responsible manner</li>
        <li>Any old electrical equipment removed from site is disposed of to a registered WEEE Merchant</li>
        <li>All timber is recycled for chipping which goes to the bedding of Farm Animals</li>
    </ul>
</div>

