﻿@using Deerpark.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="control panels, electrical installtion, pumping stations, wind, instrumentation, project management, deerpark, engineering, northern ireland">
    <meta name="description" content="Mechanical engineering across Northern Ireland and the UK.">
    <title>Deerpark Engineering</title>
    <link href="~/Content/Styles/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='shortcut icon' href='~/Content/Images/favicon.ico' type='image/x-icon' />
</head>
<body>
<div class="wrapper">
    <header>
        <div class="bar">
            <div class="container">
                <div id="contact-summary" class="right">
                    <span class="pad-right-large"><a href="mailto:info@deerparkengineering.com">info@deerparkengineering.com</a></span>
                    <span>02828841864</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="../../Content/Images/logo.png" alt=""/>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a @Html.CssClass("selected", ViewContext.IsSpecificAction("Index", "Home")) href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a @Html.CssClass("selected", ViewContext.IsSpecificAction("About", "Home")) href="@Url.Action("About", "Home")">About Us</a></li>
                    <li><a @Html.CssClass("selected", ViewContext.IsSpecificController("Services")) href="@Url.Action("ControlPanels", "Services")">Services</a></li>
                    <li><a @Html.CssClass("selected", ViewContext.IsSpecificAction("GetInTouch", "Home")) href="@Url.Action("GetInTouch", "Home")">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        @RenderBody()
        <div class="push"></div>
    </div>
</div>

<footer>
    <div id="footer-content"class="container">
        <span>Copyright © 2015 Deerpark Engineering</span>
        
        <div id="accreditations" class="right" title="Our Accreditations">
            <img src="~/Content/Images/Accreditations/ConstructionLine.png" alt="Construction Line Certification" title="Construction Line"/>
            <img src="~/Content/Images/Accreditations/ISO9001.png" alt="ISO9001 Certification" title="ISO9001" />
            <img src="~/Content/Images/Accreditations/NICEIC.png" alt="NICEIC Certification" title="NICEIC" />
            <img src="~/Content/Images/Accreditations/SafeTcert.png" alt="SafeTcert Certification" title="SafeTcert" />
        </div>

    </div>
</footer>


<script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>