@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 16, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 19, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
body {
  line-height: 1; }

/* line 22, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
ol, ul {
  list-style: none; }

/* line 25, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 34, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 38, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
* {
  margin: 0; }

/* line 4, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
html, body {
  height: 100%; }

/* line 7, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.wrapper {
  min-height: 100%;
  margin: 0 auto -80px;
  /* the bottom margin is the negative value of the footer's height */ }

/* line 12, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.push {
  height: 80px;
  /* '.push' must be the same height as 'footer' */ }

/* line 16, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
body {
  background-color: #eaeaea;
  font-family: 'Open Sans', sans-serif !important;
  color: #1B1B1B; }
  /* line 21, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  body h2 {
    font-size: 1.75em; }
  /* line 25, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  body h3 {
    font-size: 1.5em;
    color: #003d77; }

/* line 31, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

/* line 39, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.bar {
  color: #eaeaea;
  background-color: #003d77;
  height: 20px; }
  /* line 44, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .bar span {
    font-size: 0.8em; }
  /* line 48, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .bar a {
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    text-decoration: none;
    color: #eaeaea; }
    /* line 52, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
    .bar a:hover {
      color: #1B1B1B; }

/* line 58, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.right {
  float: right; }

/* line 62, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.left {
  float: left; }

/* line 66, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.pad-right-large {
  padding-right: 30px; }

/* line 70, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
p {
  padding-bottom: 20px;
  line-height: 130%; }

/* line 75, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.default-list {
  list-style: circle;
  list-style-position: inside;
  padding-bottom: 20px; }
  /* line 80, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .default-list li {
    padding-bottom: 8px; }

/* line 85, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.row {
  padding-bottom: 30px; }
  /* line 88, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .row h3 {
    padding-bottom: 10px; }

/* line 93, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.button {
  background-color: #003d77;
  color: #eaeaea;
  border: none;
  cursor: pointer; }

/* line 100, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.field-validation-error {
  color: #cb0a0a; }

/* line 104, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.notification {
  width: 100%;
  font-weight: bold;
  color: #eaeaea; }
  /* line 109, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .notification p {
    padding: 15px 5px; }
  /* line 113, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .notification.success {
    background-color: #80d38d; }
  /* line 117, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .notification.error {
    background-color: #b15151; }

/* line 122, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/* line 128, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

/* line 133, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.col:first-child {
  margin-left: 0; }

/* line 136, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.group:before, .group:after {
  content: "";
  display: table; }

/* line 137, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.group:after {
  clear: both; }

/* line 138, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.group {
  zoom: 1;
  /* For IE 6/7 */ }

/* line 140, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.col_2 {
  width: 100%; }

/* line 143, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.col_1 {
  width: 49.2%; }

/* line 147, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
.page-content {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #1B1B1B; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 160, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .container {
    width: 768px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 167, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .container {
    width: 480px; }
  /* line 171, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .col {
    margin: 1% 0 1% 0%; }
  /* line 175, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .col_2, .col_1 {
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 180, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_base.scss */
  .container {
    width: 300px; } }

/* line 1, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
header {
  min-height: 150px; }
  /* line 4, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
  header .logo {
    width: 300px;
    padding-top: 10px;
    float: left; }
    /* line 9, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
    header .logo img {
      width: 100%; }
  /* line 14, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
  header nav {
    float: right;
    padding-bottom: 30px; }
    /* line 17, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
    header nav ul {
      padding-top: 54px; }
      /* line 20, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
      header nav ul li {
        display: inline-block; }
        /* line 23, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
        header nav ul li a {
          -webkit-transition: color 0.5s ease;
          -moz-transition: color 0.5s ease;
          -ms-transition: color 0.5s ease;
          -o-transition: color 0.5s ease;
          transition: color 0.5s ease;
          text-decoration: none;
          padding: 0 30px;
          color: #1B1B1B;
          font-size: 1.2em; }
          /* line 30, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
          header nav ul li a.selected {
            color: #003d77;
            font-weight: bold; }
          /* line 35, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
          header nav ul li a:hover {
            color: #003d77; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 53, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
  header nav a {
    padding: 10px !important; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 62, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
  #contact-summary {
    float: none;
    width: 300px;
    margin: 0 auto; }
    /* line 67, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
    #contact-summary span {
      padding: 0 6px; }
  /* line 73, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
  header .logo {
    float: none;
    margin: 0 auto; }
  /* line 78, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
  header nav {
    float: none;
    width: 445px;
    margin: 0 auto; }
    /* line 83, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
    header nav ul {
      padding-top: 30px; }
      /* line 86, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
      header nav ul a {
        padding: 20px !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 97, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
  header nav {
    width: 100%; }
    /* line 100, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
    header nav ul li {
      display: block;
      padding: 15px 0 !important; }
      /* line 103, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_header.scss */
      header nav ul li a {
        padding: 0 !important;
        display: block;
        text-align: center; } }

/* line 1, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
#services {
  overflow: hidden; }

/* line 5, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
.box {
  background-color: #003d77;
  height: 180px;
  width: 300px;
  position: relative;
  display: inline-block;
  color: #eaeaea;
  margin-bottom: 30px; }
  /* line 14, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .box:nth-child(3n+2) {
    margin-left: 26px;
    margin-right: 25px; }
  /* line 19, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .box .banner {
    position: absolute;
    bottom: 30px;
    right: 0px;
    height: 15px;
    background-color: #808d96;
    font-size: 0.8em;
    color: white;
    padding: 5px; }
    /* line 30, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
    .box .banner .banner-content {
      margin: 0px; }
    /* line 34, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
    .box .banner a {
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease;
      text-decoration: none;
      color: white; }
      /* line 39, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
      .box .banner a:hover {
        color: #003d77; }
  /* line 45, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .box .title {
    padding: 10px; }
  /* line 49, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .box .service-img {
    position: absolute;
    padding-left: 10px;
    padding-bottom: 10px; }
    /* line 55, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
    .box .service-img img {
      border-style: solid;
      border-width: 1px;
      border-color: #eaeaea; }

/* line 64, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
#sidebar {
  width: 20%;
  display: inline-block; }
  /* line 68, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  #sidebar li {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: #003d77;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center; }
    /* line 75, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
    #sidebar li:hover {
      background-color: #808d96; }
    /* line 79, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
    #sidebar li a {
      text-decoration: none;
      color: #eaeaea;
      display: inline-block;
      width: 100%; }
    /* line 87, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
    #sidebar li.selected {
      background-color: #808d96; }

/* line 93, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
#content {
  width: 75%;
  float: right;
  display: inline-block;
  vertical-align: top;
  height: auto;
  color: #1B1B1B; }

/* Small Devices, Tablets */
@media only screen and (max-width: 992px) {
  /* line 105, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .container {
    text-align: center; }
  /* line 111, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .box:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 0px; }
  /* line 116, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .box:nth-child(2n+2) {
    margin-left: 26px;
    margin-right: 25px; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 132, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  .box:nth-child(2n+2) {
    margin-left: 0px;
    margin-right: 0px; }
  /* line 138, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  #sidebar {
    width: 35%; }
  /* line 142, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_services.scss */
  #content {
    width: 60%; } }

/* line 1, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
.barousel {
  color: #eaeaea;
  position: relative;
  height: 315px;
  overflow: hidden;
  margin-bottom: 30px; }
  /* line 9, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
  .barousel .barousel_image img {
    position: absolute;
    display: none;
    width: 100%; }
    /* line 15, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
    .barousel .barousel_image img.default {
      display: block; }
    /* line 19, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
    .barousel .barousel_image img.current {
      z-index: 10; }
    /* line 23, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
    .barousel .barousel_image img.previous {
      z-index: 5; }
  /* line 28, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
  .barousel .barousel_content {
    position: absolute;
    z-index: 50;
    width: 315px;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.6); }
    /* line 36, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
    .barousel .barousel_content div {
      margin: 20px;
      display: none; }
      /* line 40, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
      .barousel .barousel_content div.default {
        display: block; }
    /* line 45, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
    .barousel .barousel_content h3 {
      padding-bottom: 10px;
      color: #eaeaea; }
  /* line 51, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
  .barousel .barousel_nav {
    position: absolute;
    bottom: 10px;
    z-index: 60;
    width: 315px;
    text-align: center; }
    /* line 59, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
    .barousel .barousel_nav ul {
      display: inline-block; }
    /* line 63, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
    .barousel .barousel_nav li {
      float: left;
      padding-left: 8px;
      font-size: 0;
      line-height: 0;
      list-style: none; }
      /* line 70, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
      .barousel .barousel_nav li a {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #808d96;
        font-size: 0;
        line-height: 0;
        text-decoration: none; }
        /* line 79, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
        .barousel .barousel_nav li a:hover, .barousel .barousel_nav li a.current {
          background-color: #eaeaea; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 94, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
  .barousel {
    height: 252px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 101, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
  .barousel_image img {
    width: auto !important;
    height: 100%; }
  /* line 107, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
  .barousel_content, .barousel_nav {
    width: 100% !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 115, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_slider.scss */
  .container {
    width: 300px; } }

/* line 1, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
#map-canvas {
  width: 100%;
  height: 400px;
  border: 1px solid #003d77; }

/* line 8, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
.contact-details p {
  padding-bottom: 0px; }

/* line 13, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
#email {
  color: #1B1B1B; }
  /* line 16, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
  #email .field-group {
    margin: 10px 0; }
    /* line 20, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
    #email .field-group label {
      display: block;
      margin-top: 30px; }
    /* line 25, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
    #email .field-group input {
      height: 30px;
      width: 90%;
      display: block;
      margin: 5px 0;
      padding: 0px 10px; }
      /* line 32, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
      #email .field-group input .submit-btn {
        float: right;
        width: 30%; }
    /* line 38, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
    #email .field-group textarea {
      font-family: 'Open Sans', sans-serif !important;
      min-height: 150px;
      max-height: 300px;
      resize: vertical;
      width: 90%;
      display: block;
      margin: 5px 0;
      padding: 10px; }

/* line 51, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
#contact-details {
  margin-top: 30px; }
  /* line 55, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
  #contact-details p {
    line-height: 2em;
    word-wrap: break-word; }
    /* line 59, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
    #contact-details p .contact-icon {
      margin-right: 10px; }
  /* line 64, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
  #contact-details .heading-text {
    font-weight: bold;
    margin-bottom: 20px; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 73, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
  #email input {
    width: 100% !important; }
  /* line 77, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_get-in-touch.scss */
  #email textarea {
    width: 100% !important; } }

/* line 1, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_footer.scss */
footer {
  height: 80px;
  background-color: #003d77;
  color: #eaeaea;
  font-size: 0.8em; }
  /* line 7, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_footer.scss */
  footer #footer-content {
    padding: 30px; }
  /* line 11, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_footer.scss */
  footer img {
    vertical-align: middle;
    margin: 0px 5px; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 21, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_footer.scss */
  footer {
    height: 120px; }
  /* line 25, C:/Projects/deerpark/src/Deerpark/Content/Styles/Partials/_footer.scss */
  #accreditations {
    margin-top: 20px;
    float: none; } }

/*# sourceMappingURL=site.css.map */