﻿@using Deerpark.Extensions
<nav>
    <ul>
        <li @Html.CssClass("selected", ViewContext.IsSpecificAction("ControlPanels", "Services"))><a href="@Url.Action("ControlPanels", "Services")">Control Panels</a></li>
        <li @Html.CssClass("selected", ViewContext.IsSpecificAction("ElectricalInstallation", "Services"))><a href="@Url.Action("ElectricalInstallation", "Services")">Electrical Installation & Testing</a></li>
        <li @Html.CssClass("selected", ViewContext.IsSpecificAction("Wind", "Services"))><a href="@Url.Action("Wind", "Services")">Wind</a></li>
        <li @Html.CssClass("selected", ViewContext.IsSpecificAction("MechanicalServices", "Services"))><a href="@Url.Action("MechanicalServices", "Services")">Mechanical Services</a></li>
        <li @Html.CssClass("selected", ViewContext.IsSpecificAction("PumpingAndScreening", "Services"))><a href="@Url.Action("PumpingAndScreening", "Services")">Pumping & Screening Equipment</a></li>        
        
    </ul>
</nav>