﻿@model Deerpark.Models.Service
           
<div id="services" class="row">

    <div id="sidebar">
        @Html.Partial("_ServiceNav")
    </div>

    <div id="content">
        <h3>@Model.Name</h3>

        <p>When you enter periods of change, looking to update and improve critical systems and infrastructure, Deerpark Engineering is here to help you reap the benefits of advanced control and automation technology.</p>
        <p>The pressure on Utility Sector to perform is immense, but Deerpark Engineering combines an unparalleled understanding of the requirements of the sector with an unrivalled expertise in systems design and implementation to help you rise to the challenges.</p>
        <p>Our capabilities span the design, manufacture, installation, test, commissioning and lifecycle support of electrical systems. We tightly integrate all the key disciplines of mechanical, electrical, instrumentation and systems integration to ensure that we have all the skills we need under one roof to develop control and automation systems that offer:</p>

        <ul class='default-list'>
            <li>Right first time design</li>
            <li>Reduced capital costs</li>
            <li>Consistently high quality</li>
            <li>Guaranteed safety compliance</li>
            <li>Improved reliability</li>
            <li>Reduced maintenance costs</li>
            <li>Guaranteed on-time delivery</li>
        </ul>

        <p>We have a huge depth of capabilities and in-house resources. With our specialisation in the water and waste water industries and our proven track record in delivering innovative systems that meet and exceed your expectations and requirements, Deerpark Engineering is your ideal business partner for managing change.</p>
    </div>
</div>