﻿@model Deerpark.Models.Service

<div id="services" class="row">

    <div id="sidebar">
        @Html.Partial("_ServiceNav")
    </div>

    <div id="content">
        <h3>@Model.Name</h3>

        <p>For installation, Deerpark Engineering is an NICEIC approved contractor, with extensive experience in both new systems installation and refurbishment of existing equipment. Our project experience in delivering site services to the Utilities and Water industry encompasses everything from MCC installation and cabling, to the installation of site level controls, to the rewiring of control systems for existing plant, to re-cabling and updating a whole water or sewage treatment works.</p>
        <p>Our resources include commissioning and testing engineers throughout Northern Ireland.</p>
        <p>We are:</p>

        <ul class='default-list'>
            <li>Experts in providing a complete design package</li>
            <li>NICEIC approved</li>
            <li>Specialists in refurbishment</li>
            <li>Able to provide periodic testing</li>
            <li>Able to provide full documentation and manuals</li>
        </ul>

        <p>An important differentiator for Deerpark Engineering is our high level of post-project support and system maintenance. We are able to provide a range of tailored services, from a 'man in a van' to total care packages, all at highly competitive rates.</p>
    </div>
</div>