﻿<div id="services" class="row">
    
    <div id="sidebar">
        @Html.Partial("_ServiceNav")
    </div>

    <div id="content">
        <h3>Our Services</h3>
        <p>
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis
            scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
        </p>
    </div>
</div>
