﻿@model Deerpark.Models.Service

<div id="services" class="row">

    <div id="sidebar">
        @Html.Partial("_ServiceNav")
    </div>

    <div id="content">
        <h3>@Model.Name</h3>

        <p>With the rapid changes in the Utility sector and the need for quick installations to minimise downtime, Deerpark Engineering has the knowledge and skill to install the following:</p>

        <ul class='default-list'>
            <li>Stainless Steel</li>
            <li>HPPE fusion welded</li>
            <li>MDPE</li>
            <li>Ductile Iron</li>
            <li>U-PVC</li>
            <li>ABS</li>
            <li>BSP Black Iron</li>
        </ul>
    </div>
</div>