﻿@model Deerpark.Models.Service
           
<div id="services" class="row">

    <div id="sidebar">
        @Html.Partial("_ServiceNav")
    </div>

    <div id="content">
        <h3>@Model.Name</h3>

        <p>From a single pump in a borehole to a multiple pumping system on a Waste Water Treatment Works Deerpark Engineering can offer solutions from the simple to the complex, we offer design, supply and commissioning of Waste Water Pumping Stations with the following:</p>

        <ul class='default-list'>
            <li>GRP Kiosks</li>
            <li>Motor Control Centres</li>
            <li>Submersible and dry well submersible pumps</li>
            <li>Pipework</li>
            <li>Electrical Installation</li>
            <li>Overflow screens to comply with local authorities </li>
            <li>Telemetry</li>
            <li>Testing</li>
            <li>Commissioning</li>
        </ul>
    </div>
</div>