﻿@model Deerpark.Models.Service

<div id="service" class="row">

    <div id="sidebar">
        @Html.Partial("_ServiceNav")
    </div>

    <div id="content">
        <h3>@Model.Name</h3>
        
        @Html.Raw(Model.Description)
        
    </div>
    

</div>
