﻿@model Deerpark.Models.Service

<div id="services" class="row">

    <div id="sidebar">
        @Html.Partial("_ServiceNav")
    </div>

    <div id="content">
        <h3>@Model.Name</h3>

        <p>With our fossil fuels in rapid decline, wind has been a proven energy in the recent decades, with more and more people realising the benefits of this natural and sustainable energy Deerpark Engineering has been involved from the installation of a single Turbine to the complete electrical installation of a Wind Farm.</p>
    </div>
</div>