* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto (-$footer-height); /* the bottom margin is the negative value of the footer's height */
}

.push {
	height: 80px; /* '.push' must be the same height as 'footer' */
}

body {
    background-color: $primary-light;
    font-family: 'Open Sans', sans-serif !important;
    color: $dark-grey;
    
    h2{
        font-size: 1.75em;   
    }
    
    h3{
        font-size: 1.5em; 
        color: $deerpark-blue;
    }
}

.container {
    width: 960px;
    margin:{
        left:auto;
        right:auto;
    }
}

.bar {
    color: $primary-light;
    background-color: $deerpark-blue;
    height: 20px;
    
    span{
        font-size: $font-small;
    }
    
    a{
        @include specific-ease-transition(color, 0.5s);
        text-decoration: none;
        color: $primary-light;;
        &:hover {
            color:$dark-grey;
        }
    }
}

.right{
    float: right;
}

.left{
    float: left;
}

.pad-right-large{
    padding-right: $padding-x-large;
}

p{
    padding-bottom: $padding-large;
    line-height: 130%;
}

.default-list {
    list-style: circle;
    list-style-position: inside;
    padding-bottom: $padding-large;
    
    li{
        padding-bottom:8px;
    }
}

.row{
    padding-bottom: $padding-x-large;  
    
    h3{
        padding-bottom: $padding-normal;   
    }
}

.button{
    background-color: $deerpark-blue;
    color: $primary-light;
    border: none;
    cursor: pointer;
}

.field-validation-error{
    color: #cb0a0a
}

.notification{
    width: 100%;
    font-weight: bold;
    color: $primary-light;
    
    p{
        padding: 15px 5px;
    }
    
    &.success{
        background-color: #80d38d 
    }
    
    &.error{
        background-color: #b15151 
    }
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.col_2 {
	width: 100%;
}
.col_1 {
	width: 49.2%;
}

.page-content{
    padding-top: $padding-large;
    padding-bottom: $padding-large;
    color: $dark-grey;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container{
        width: 768px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .container{
        width: 480px;
    }
    
    .col { 
		margin: 1% 0 1% 0%;
	}
    
    .col_2, .col_1 { width: 100%; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .container{
        width: 300px;
    }
    
    
}