footer{
    height: $footer-height;
    background-color: $deerpark-blue;
    color: $primary-light;
    font-size: $font-small;
    
    #footer-content{
        padding: $padding-x-large;
    }

    img{
        vertical-align:middle;
        margin: 0px 5px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    footer{
        height: 120px;
    }
    
    #accreditations{
        margin-top: $margin-large;
        float: none;
    }
}