#map-canvas{
    width: 100%;
    height: 400px;
    border: 1px solid $deerpark-blue;
}

.contact-details{
    p{ 
        padding-bottom: 0px;
    }
}

#email{
    color: $dark-grey;
    
    .field-group{
        
        margin: 10px 0;
        
        label{
            display: block;
            margin-top: 30px;
        }
        
        input{
            height: 30px;
            width: 90%;
            display: block;
            margin: 5px 0;
            padding: 0px $padding-normal;
            
            .submit-btn{
                float: right;
                width: 30%;
            }
        }
        
        textarea{
            font-family: 'Open Sans', sans-serif !important;   
            min-height: 150px;
            max-height: 300px;
            resize: vertical;
            width: 90%;
            display: block;
            margin: 5px 0;
            padding: $padding-normal;
        }
    }
}

#contact-details{
    
    margin-top: $margin-x-large;
    
    p{
        line-height: $line-height-large;
        word-wrap: break-word;
        
        .contact-icon{
            margin-right: $margin-normal;
        }
    } 
    
    .heading-text{
        font-weight: bold;
        margin-bottom: $margin-large;        
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   #email{
        input{
            width:100% !important;   
        }
       
       textarea{
            width:100% !important;   
        }
   }
}