header{
    min-height: 150px;
    
    .logo{
        width: 300px;
        padding-top: $padding-normal;
        float: left;
        
        img{
           width: 100%; 
        }   
    }
    
    nav{
        float: right;
        padding-bottom: $padding-x-large;
        ul{
            padding-top: 54px;
            
            li{
                display: inline-block;
                
                a{
                    @include specific-ease-transition(color, 0.5s);
                    text-decoration: none;
                    padding: 0 $padding-x-large;
                    color: $dark-grey;
                    font-size: $font-large;
                    
                    &.selected{
                        color: $deerpark-blue;   
                        font-weight: bold;
                    }
                    
                    &:hover{
                        color: $deerpark-blue;   
                    }
                }
            }
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header{
        nav{
            a{
                padding: $padding-normal !important; 
            }
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #contact-summary{
        float: none;
        width: 300px;
        margin: 0 auto;
        
        span{
            padding: 0 6px;   
        }
    }
    
    header{        
        .logo{
            float: none;
            margin: 0 auto;
        }
        
        nav{       
            float: none;
            width: 445px;
            margin: 0 auto;
            
            ul{
                padding-top: $padding-x-large;
                
                a{
                    padding: $padding-large !important;
                }
            }
        }
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    header{
        nav{
            width: 100%;
            ul{                
                li{
                    display: block;
                    padding: 15px 0 !important;
                    a{
                        padding: 0 !important;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}