$padding-x-small: 5px;
$padding-normal: 10px;
$padding-large: 20px;
$padding-x-large: 30px;

$margin-normal: 10px;
$margin-large: 20px;
$margin-x-large: 30px;

$font-x-small: 0.6em;
$font-small: 0.8em;
$font-large: 1.2em;

$slider-height: 315px;
$slider-content-width: 315px;

$footer-height: 80px;

$line-height-large:2em;

$border-small: 1px;