@mixin ease-transition($duration) {
    -webkit-transition: $duration ease;
       -moz-transition: $duration ease;
        -ms-transition: $duration ease;
         -o-transition: $duration ease;
            transition: $duration ease;
}

@mixin specific-ease-transition($property, $duration) {
    -webkit-transition: $property $duration ease;
       -moz-transition: $property $duration ease;
        -ms-transition: $property $duration ease;
         -o-transition: $property $duration ease;
            transition: $property $duration ease;
}