#services{
    overflow: hidden;
}

.box{
    background-color: $deerpark-blue;
    height:180px;
    width: 300px;
    position: relative;
	display: inline-block;
    color: $primary-light;
    margin-bottom: $padding-x-large;
    
    &:nth-child(3n+2) {
        margin-left: 26px;
        margin-right: 25px;
    }
    
    .banner{
        position:absolute; 
        bottom:30px; 
        right:0px;
        height:15px;

        background-color:$deerpark-grey;   
        font-size: $font-small;  
        color:white;  
        padding: 5px;

                .banner-content{  
                    margin:0px; 
                }  
        
                a{
                    @include specific-ease-transition(color, 0.5s);
                    text-decoration: none;
                    color: white;
                    
                    &:hover{
                        color: $deerpark-blue;   
                    }
                }
    }
    
    .title{
        padding: $padding-normal;
    }
    
    .service-img{
        
        position:absolute;
        padding-left: $padding-normal;
        padding-bottom: $padding-normal;
        
        img{
            border-style: solid;
            border-width: $border-small;
            border-color: $primary-light;
        }
    }
}


    #sidebar{
        width: 20%;
        display: inline-block;
        
        li{
            @include ease-transition(0.5s);
            background-color: $deerpark-blue;
            padding: 10px;
            margin-bottom: 5px;
            text-align: center;
            
            &:hover{
                background-color: $deerpark-grey;
            }
            
            a{
                
                text-decoration: none;
                color: $primary-light;    
                display: inline-block;
                width: 100%;
            }
            
            &.selected{
                background-color: $deerpark-grey;
            }
        }
    }
    
    #content{
        width: 75%;
        float: right;
        display: inline-block;
        vertical-align: top;
        height:auto;
        color: $dark-grey;
    }


/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {
    .container{
       text-align:center; 
    }
    
    .box{
        
        &:nth-child(3n+2) {
            margin-left: 0px;
            margin-right: 0px;
        }
        
        &:nth-child(2n+2) {
            margin-left: 26px;
            margin-right: 25px;
        }
    }
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .box{
        &:nth-child(2n+2) {
         margin-left: 0px;
         margin-right: 0px;
        }
    }
    
    #sidebar{
        width: 35%;
    }
    
    #content{
        width: 60%;
    }
}