.barousel
{
    color: $primary-light;
    position:relative;
    height: $slider-height;
    overflow: hidden;
    margin-bottom: $padding-x-large;
    
    .barousel_image img
    {
        position:absolute;
        display:none;
        width: 100%;
        
        &.default{
            display: block;
        }
        
        &.current{
            z-index: 10;   
        }
        
        &.previous{
            z-index: 5;   
        }
    }
    
    .barousel_content
    {
        position:absolute;   
        z-index:50;
        width:$slider-content-width;
        height: 100% !important;
        background-color: rgba(0, 0, 0, 0.60);
        
        div{
            margin: 20px;
            display:none;
            
            &.default{
                display:block; 
            }
        }
        
        h3{
            padding-bottom: $padding-normal;
            color: $primary-light;
        }
    }
    
    .barousel_nav
    {
        position:absolute;
        bottom:10px;
        z-index:60;
        width: $slider-content-width;
        text-align: center;
        
        ul{
            display: inline-block;
        }
        
        li{
            float:left;
            padding-left:8px;
            font-size:0;
            line-height:0;
            list-style:none;
            
            a{
                display:block;
                width:10px;
                height:10px;
                background-color:$deerpark-grey;
                font-size:0;
                line-height:0;
                text-decoration:none;
                
                &:hover, &.current{
                    background-color: $primary-light;
                }
            }
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .barousel{
        height: 252px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .barousel_image img
    {
        width: auto !important;
        height: 100%;
    }
    
    .barousel_content, .barousel_nav
    {
        width: 100% !important;   
    } 
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .container{
        width: 300px;
    }
}